<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/ddc34f2bbe.js"></script>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">TPL-CT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-success" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="/components">Components</a>
          </li>
          <li class="nav-item dropdown">
            <% if(!user){ %>
            <a
              class="nav-link text-success dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              My Account/Sign Up
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/login">Login</a>
              <a class="dropdown-item" href="/users/register">Register</a>
            </div>
            <% } else { %>
            <a
              class="nav-link text-success dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              My Dashboard/Log Out
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/logout">Log Out</a>
              <a class="dropdown-item" href="/dashboard">Dashboard</a>
            </div>
            <% } %>
          </li>
        </ul>
        <form
          method="post"
          class="form-inline my-2 my-lg-0"
          action="/components/search"
        >
          <input
            class="form-control mr-sm-2"
            type="search"
            name="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <script>
      let url = window.location.href;
      let path = url.split("/");
      let page = path[path.length - 1];
      let navItems = document.querySelectorAll(".nav-item");

      // detect page url and set active class to the correct .nav-item by checking their children's href
      window.onload = function () {
        if (page == "") {
          page = "/";
        }
        console.log(path);
        console.log(page);
        navItems.forEach((item) => {
          console.log(item.querySelector(".nav-link").getAttribute("href"));
          if (item.querySelector(".nav-link").getAttribute("href") == page) {
            item.classList.add("active");
          } else {
            item.classList.remove("active");
          }
        });
      };
    </script>
  </body>
</html>
